:root{
    --transition: 0.3s ease-in-out;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #00040f;
    margin: auto;
    padding: 0px;
}

.section{
    width: 90vw;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    position: relative;
}


.section .overlap {
    position: absolute;
    width: 937px;
    height: 1191px;
    top: 1178px;
    left: -867px;
  }

header{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo{
    width: 50px;

}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a:hover{
    color: #4a90e2;
    transition: var(--transition);
}

header a{
    color: white;
    font-weight: normal;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-menu li{
    list-style: none;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: var(--transition);
    background-color: white;

}

@media (max-width: 800px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
    .nav-menu{
        padding: 40px;
        background-color: #00040f;
        position: fixed;
        right: -100%;
        align-items: flex-end;
        flex-direction: column;
        height: 100%;
        transition: var(--transition);
        margin: 0px;
    }
    .nav-menu a{
        padding: 0px 5vw;

    }
    .nav-menu.active{
        right: 0;
        transition: var(--transition);
    }
}