{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mVeri</title>
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    
    <header class="section">
        

        <a href="#">
            <img src="{% static 'frontend/img/ellipse-2355.svg' %}" alt="" class="logo">
        </a>
        <ul class="nav-menu">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">About</a></li>
            <li><a href="#" class="nav-link">Feature</a></li>
            <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
            <li><a href="#" class="nav-link">Register</a></li>
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </header>
    
    
    <div class="hero section column">
        <div>
           <h1>Instant <br> Verification <br> Ultimate Security</h1><br>
            <p>Our app allows students to effortlessly <br />generate their transcripts and letters <br />of recommendation. 
                 School authorities <br />can verify student information quickly <br />and securely,  ensuring accuracy and trust.
            </p> 
            <div id="primary-links">
                <a href="#" class="button">Get Started</a>
            </div>
        </div>
        
        <div>
            
          <img src="{% static 'frontend/img/hero_img.svg' %}" alt="">  
        </div>
        

    </div>
    
    <div class="about-us section column">
        <div>
            <img src="{% static 'frontend/img/document.jfif' %}" alt="">
        </div>
        <div>
            <h1 class="about-title" style="font-size: 36px;">You manage the document requests, and we’ll handle the verification.</h1><br>
            <p style="font-size: 16px;">
                Our software simplifies the document management process for you. As a student, you can easily request and retrieve your school documents through our platform. <br /> <br />Meanwhile, for school administrators, we provide a seamless verification process to ensure that all documents are accurate and authentic. You focus on managing your document needs, and we’ll take care of verifying and validating them for you.
            </p> 
            <div id="primary-links">
                <a href="#" class="button">About Us</a>
            </div>
        </div>
    </div>

    <footer>
        
    </footer>
    
    
    

    <script src="{% static 'frontend/js/main.js' %}"></script>
</body>
</html>